/* 
File: Projects.css
Student Name: Yash Patel
StudentID: 301089593
Date: 2024/09/13
*/

/* Base styles for Projects page */
.projects-page {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f0f0f0; /* Light background for light mode */
}

.projects-page h1,
.projects-page h2,
.projects-page h3 {
  color: #000; /* Black color for headers in light mode */
  margin-bottom: 20px;
}

.projects-section {
  margin-bottom: 40px;
}

.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  margin: 20px;
  width: 250px;
  text-align: center;
}

.project-tile img {
  width: 250px;
  height: 125px;
  margin-bottom: 10px;
  border-radius: 5%;
}

.project-tile h3 {
  margin-top: 0;
}

.project-tile p {
  font-size: 16px;
  color: #666; /* Dark gray text color for light mode */
}

/* Dark mode styles */
.dark .projects-page {
  background-color: #1f1f1f; /* Dark background for dark mode */
}

.dark .projects-page h1,
.dark .projects-page h2,
.dark .projects-page h3 {
  color: #ffffff; /* White color for headers in dark mode */
}

.dark .project-tile p {
  color: #bbb; /* Light gray text color for dark mode */
}
